 p {
   font-size: 20px;
   color: orange;
   background-color: blue; 
 }              

 .nav-link-items {
     font-size: 40px;
     color: red;
     background-color: green;
     border: 3px solid blue;
 }

.link-element{
color: blue
}
#learn-more-button {


}

 